/* ----- START : Theme Colors ----- */
$theme-primary: #fe6b8b;
$theme-background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
$theme-white: #fff;
$theme-red: #c10000;
/* ----- END : Theme Colors ----- */

/* ----- START : Font Size ----- */
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 30px;
/* ----- END : Font Size ----- */

/* ----- START : Spacing ----- */
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 3rem;
/* ----- END : Spacing ----- */
